<main>
  <section class='section'>
    <div class='container'>
      <h1 class='section__heading'>Link preview</h1>

      <button type='button' class='button-modal' aria-label='Modal Open'>
        Click Me
      </button>

      <div class='backdrop backdrop--is-hidden'>
        <div class='modal'>
          <button type='button' class='close-btn'>
            <svg class='icon-cross'>
              <use class='icon-cross' href='./img/sprite.svg#icon-cross'></use>
            </svg>
          </button>
          <form class='form'>
            <label class='label'>
              <textarea
                class='text-area'
                name=''
                id=''
                cols='30'
                rows='10'
              ></textarea></label>
            <div class='wrapper-typer'>
              <p class='typer typer--hide'>
                loading link
                <span class='dot'>
                  <span>.</span>
                  <span>.</span>
                  <span>.</span>
                </span>
              </p>
            </div>
            <ul class='link-list'>

            </ul>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>